In [1]:
import pandas as pd

In [2]:
international_org = pd.read_csv(r'./datasets/international_org.csv')

In [3]:
international_org

  Organization Name  Headquater
0               FAO        Rome
1               ICJ   The Hague
2               IMF  Washington
3            UNESCO       Paris
4               UNO    New York
5        World Bank  Washington

In [4]:
international_org['Establish Year'] = 1945

In [5]:
international_org

  Organization Name  Headquater  Establish Year
0               FAO        Rome            1945
1               ICJ   The Hague            1945
2               IMF  Washington            1945
3            UNESCO       Paris            1945
4               UNO    New York            1945
5        World Bank  Washington            1945

In [6]:
imdb_rating = pd.read_csv(r'./datasets/imdb_rating.csv')

In [7]:
imdb_rating

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Crime,142
1,9.2,The Godfather,Crime,175
2,9.1,The Godfather: Part II,Crime,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Crime,154
5,8.9,12 Angry Men,Drama,96
6,8.9,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.9,Schindler's List,Biography,195
9,8.9,Fight Club,Drama,139

In [8]:
del imdb_rating['duration']

In [9]:
imdb_rating

   star_rating                                          title      genre
0          9.3                       The Shawshank Redemption      Crime
1          9.2                                  The Godfather      Crime
2          9.1                         The Godfather: Part II      Crime
3          9.0                                The Dark Knight     Action
4          8.9                                   Pulp Fiction      Crime
5          8.9                                   12 Angry Men      Drama
6          8.9                 The Good, the Bad and the Ugly    Western
7          8.9  The Lord of the Rings: The Return of the King  Adventure
8          8.9                               Schindler's List  Biography
9          8.9                                     Fight Club      Drama

In [10]:
imdb_rating.loc[-1] = [9.4, 'Avengers: Infinity War', 'Action']
imdb_rating

    star_rating                                          title      genre
 0          9.3                       The Shawshank Redemption      Crime
 1          9.2                                  The Godfather      Crime
 2          9.1                         The Godfather: Part II      Crime
 3          9.0                                The Dark Knight     Action
 4          8.9                                   Pulp Fiction      Crime
 5          8.9                                   12 Angry Men      Drama
 6          8.9                 The Good, the Bad and the Ugly    Western
 7          8.9  The Lord of the Rings: The Return of the King  Adventure
 8          8.9                               Schindler's List  Biography
 9          8.9                                     Fight Club      Drama
-1          9.4                         Avengers: Infinity War     Action

In [11]:
imdb_rating.index = imdb_rating.index + 1

In [12]:
imdb_rating = imdb_rating.sort_index()

In [13]:
imdb_rating

    star_rating                                          title      genre
0           9.4                         Avengers: Infinity War     Action
1           9.3                       The Shawshank Redemption      Crime
2           9.2                                  The Godfather      Crime
3           9.1                         The Godfather: Part II      Crime
4           9.0                                The Dark Knight     Action
5           8.9                                   Pulp Fiction      Crime
6           8.9                                   12 Angry Men      Drama
7           8.9                 The Good, the Bad and the Ugly    Western
8           8.9  The Lord of the Rings: The Return of the King  Adventure
9           8.9                               Schindler's List  Biography
10          8.9                                     Fight Club      Drama

In [14]:
imdb_rating.loc[10] = [5.5, 'The Mummy', 'Thriller']

In [15]:
imdb_rating

    star_rating                                          title      genre
0           9.4                         Avengers: Infinity War     Action
1           9.3                       The Shawshank Redemption      Crime
2           9.2                                  The Godfather      Crime
3           9.1                         The Godfather: Part II      Crime
4           9.0                                The Dark Knight     Action
5           8.9                                   Pulp Fiction      Crime
6           8.9                                   12 Angry Men      Drama
7           8.9                 The Good, the Bad and the Ugly    Western
8           8.9  The Lord of the Rings: The Return of the King  Adventure
9           8.9                               Schindler's List  Biography
10          5.5                                      The Mummy   Thriller

In [16]:
imdb_rating_1 = imdb_rating.drop(imdb_rating.index[[1,3]])

In [17]:
imdb_rating_1

    star_rating                                          title      genre
0           9.4                         Avengers: Infinity War     Action
2           9.2                                  The Godfather      Crime
4           9.0                                The Dark Knight     Action
5           8.9                                   Pulp Fiction      Crime
6           8.9                                   12 Angry Men      Drama
7           8.9                 The Good, the Bad and the Ugly    Western
8           8.9  The Lord of the Rings: The Return of the King  Adventure
9           8.9                               Schindler's List  Biography
10          5.5                                      The Mummy   Thriller

In [18]:
new_idx = ['movie_1', 'movie_2', 'movie_3', 'movie_4',
           'movie_5', 'movie_6', 'movie_7', 'movie_8',
           'movie_9', 'movie_10', 'movie_11']

In [19]:
imdb_rating.index = new_idx
imdb_rating

,star_rating,title,genre
movie_1,9.4,Avengers: Infinity War,Action
movie_2,9.3,The Shawshank Redemption,Crime
movie_3,9.2,The Godfather,Crime
movie_4,9.1,The Godfather: Part II,Crime
movie_5,9.0,The Dark Knight,Action
movie_6,8.9,Pulp Fiction,Crime
movie_7,8.9,12 Angry Men,Drama
movie_8,8.9,"The Good, the Bad and the Ugly",Western
movie_9,8.9,The Lord of the Rings: The Return of the King,Adventure
movie_10,8.9,Schindler's List,Biography
movie_11,5.5,The Mummy,Thriller

In [20]:
imdb_rating = imdb_rating.reset_index()
imdb_rating

,index,star_rating,title,genre
0,movie_1,9.4,Avengers: Infinity War,Action
1,movie_2,9.3,The Shawshank Redemption,Crime
2,movie_3,9.2,The Godfather,Crime
3,movie_4,9.1,The Godfather: Part II,Crime
4,movie_5,9.0,The Dark Knight,Action
5,movie_6,8.9,Pulp Fiction,Crime
6,movie_7,8.9,12 Angry Men,Drama
7,movie_8,8.9,"The Good, the Bad and the Ugly",Western
8,movie_9,8.9,The Lord of the Rings: The Return of the King,Adventure
9,movie_10,8.9,Schindler's List,Biography
10,movie_11,5.5,The Mummy,Thriller

In [21]:
imdb_rating = imdb_rating.drop(columns = ['index'])
imdb_rating

    star_rating                                          title      genre
0           9.4                         Avengers: Infinity War     Action
1           9.3                       The Shawshank Redemption      Crime
2           9.2                                  The Godfather      Crime
3           9.1                         The Godfather: Part II      Crime
4           9.0                                The Dark Knight     Action
5           8.9                                   Pulp Fiction      Crime
6           8.9                                   12 Angry Men      Drama
7           8.9                 The Good, the Bad and the Ugly    Western
8           8.9  The Lord of the Rings: The Return of the King  Adventure
9           8.9                               Schindler's List  Biography
10          5.5                                      The Mummy   Thriller